.idea
/target
/src/test
/src/main/java/dev/bestzige/questionanswer
/src/main/java/dev/bestzige/membercarda
/src/main/java/dev/bestzige/membercardb
/src/main/java/dev/bestzige/moneyexchanger
/src/main/java/dev/bestzige/movie